body{
    background-image: linear-gradient(rgba(232, 250, 36, 0.729) , rgba(247, 222, 148, 0.862));
}

#logo{
    width: 90px;
    height: 70px;
    

}
    

.inbox_container {
    height: 78vh;
    background-color: rgba(139, 217, 100, 0.848);
    border-radius: 5px;
    border: 2px solid green;
    overflow: scroll;
}

.inbox {
    padding: 8px;
}

.message{
    background-color: rgb(78, 153, 163);
    margin-bottom: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 12px;
    width: fit-content;
    
}
.right{
    float: right;
    clear: both;
}

.left{
    float: left;
    clear: both;
}



.send_msg{
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(2, 56, 99);
    background-color: rgba(106, 106, 176, 0.866);
    
}

#msginput{
    width: 80%;
    border-radius: 5px;
}

.send_btn{
    width: 15%;
    border-radius: 5px;
}

